PG_HOSTNAME=${PG_HOSTNAME:-db}
POSTGRES_USER=${POSTGRES_USER:-postgres}
POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-postgres}
POSTGRES_DB=${POSTGRES_DB:-postgres}
POSTGRES_HOSTNAME=${POSTGRES_HOSTNAME:-localhost}
POSTGRES_PORT=${POSTGRES_PORT:-5432}
PG_SUPERUSER=${POSTGRES_USER}
PG_PASS=${POSTGRES_PASSWORD}
PG_PORT=${POSTGRES_PORT}
RUSTFS_ACCESS_KEY=${RUSTFS_ACCESS_KEY:-rustfsadmin}
RUSTFS_SECRET_KEY=${RUSTFS_SECRET_KEY:-rustfsadmin}
RUSTFS_SERVER_URL=${RUSTFS_SERVER_URL:-https://rustfslocal:9000}
RUSTFS_PG_BUCKET=${RUSTFS_PG_BUCKET:-pgbackups}
RUSTFS_REGION=${RUSTFS_REGION:-local}
S3_ENDPOINT=${RUSTFS_SERVER_URL}
S3_ACCESS_KEY=${RUSTFS_ACCESS_KEY}
S3_SECRET_KEY=${RUSTFS_SECRET_KEY}
S3_BUCKET=${RUSTFS_PG_BUCKET}
S3_REGION=${RUSTFS_REGION}
S3_PREFIX=${RUSTFS_PG_BUCKET}
LOG_FILE=${LOG_FILE:-pg_actions.log}
